<section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
  <div class="container">
    <div class="row">
      <div class="col text-start o_colored_level">
        <h2 class="cd-subtitle text-uppercase mb-5">Lorem Ipsum Dolor</h2>
      </div>
    </div>
  </div>
</section>