<t t-name="website.como-lo-hacemos">
  <t t-call="website.layout">
    <div id="wrap" class="oe_structure oe_empty">
      
      <section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
        <div class="container">
          <div class="row">
            <div class="col text-start o_colored_level pt112">
              <h2 class="cd-subtitle text-uppercase mb-5">Como lo hacemos</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="s_title pb40 o_colored_level pt0" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
        <div class="s_allow_columns container">
          <p style="margin-bottom: 0px;">
            <span class="h5-fs">EN CEMENT DESIGN TE LO PONEMOS FÁCIL PUEDES ELEGIR ENTRE UNA DE ESTAS DOS OPCIONES.</span></p><p style="margin-bottom: 0px;"><br/></p><p style="margin-bottom: 0px;"><br/></p>
          <div class="o_text_columns">
            <div class="row">
              <div class="col-12 o_colored_level pt56 pb64 col-lg-12" style="background-color: rgba(0,0,0,.1)">
                <div class="row">
                  <div class="col-12 o_colored_level offset-lg-1 col-lg-5 pt0 px-5 px-md-0  px-5 px-md-0">
                    <p style="margin-bottom: 0px;">
                      <img src="/web/image/27320-de5a3fe7/como-lo-hacemos-1.png" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/png" data-original-id="27320" data-original-src="/web/image/27320-de5a3fe7/como-lo-hacemos-1.png" data-mimetype-before-conversion="image/png" loading="lazy"/>
                    </p>
                  </div>
                  <div class="col-12 o_colored_level offset-lg-1 pt128 pb128 px-5 px-md-0 col-lg-4  px-5 px-md-0">
                    <h1>HAZLO TÚ&amp;nbsp;<br/>MISMO/A</h1><p><br/></p><p>
                      Puedes comprar el material que necesites y aplicarlo tú mismo o tu aplicador de confianza. Puedes acceder a la tienda on-line y comprar toda nuestra gama de productos.
                    </p><p><br/></p><p>
                      <a href="/shop" class="btn btn-fill-secondary rounded-circle btn-lg">TIENDA ON-LINE</a><br/>
                    </p><p/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="s_title pb40 o_colored_level pt0" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
        <div class="s_allow_columns container">
          <p style="margin-bottom: 0px;"><br/></p><p style="margin-bottom: 0px;"><br/></p><p style="margin-bottom: 0px;"><span class="h5-fs">​</span><br/></p><div class="o_text_columns">
            <div class="row">
              <div class="col-12 o_colored_level pt56 pb64 col-lg-12" style="background-color: rgba(0,0,0,.1)">
                <div class="row">
                  <div class="col-12 o_colored_level offset-lg-1 col-lg-5 pt0 px-5 px-md-0  px-5 px-md-0">
                    <p style="margin-bottom: 0px;">
                      <img src="/web/image/27322-e165e3f7/como-lo-hacemos-3.webp" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/webp" data-original-id="27321" data-original-src="/web/image/27321-4a153d13/como-lo-hacemos-3.png" data-mimetype-before-conversion="image/png" data-resize-width="676"/>
                    </p>
                  </div>
                  <div class="col-12 o_colored_level offset-lg-1 pt128 pb128 px-5 px-md-0 col-lg-4  px-5 px-md-0">
                    <h1>MATERIAL + INSTALADOR</h1><p><br/></p><p>&amp;nbsp;Puedes comprar el material que necesites y nosotros te recomendamos un aplicador formado por Cement Design con todas las garantías de una aplicación profesional.</p><p><br/></p><p>
                      <a href="/shop" class="btn btn-fill-secondary rounded-circle btn-lg">TIENDA ON-LINE</a><br/>
                    </p><p/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    </div>
  </t>
</t>