---
// Snippets
import BigHeroImage from '../components/BigHeroImage.astro';
import RowsTextImage from '../components/RowsTextImage.astro';
import IconFeatures from '../components/IconFeatures.astro';

// Layouts
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<t name="Home" t-name="website.homepage">
  	<t t-call="website.layout">
    	<t t-set="pageName" t-value="'homepage'"/>
    	<div id="wrap" class="oe_structure oe_empty"></div>

				<BigHeroImage />	
				<RowsTextImage />	
				<IconFeatures />

			</div>
  	</t>
	</t>
</Layout>
