<section class="s_title o_colored_level pt144 pb152" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none; position: relative;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3" style="background-image: url('/web/image/27200-b14631e4/origen-1.jpg');">
        <div class="s_allow_columns w-75 m-auto" style="background-color: rgba(0,0,0,.5);">
          <p>
            <strong><span class="h4-fs">Cement Design fabrica desde su propio centro de producción ubicado en
                Pantoja, Toledo, un amplio abanico de referencias que abarca el
                completo el sector de revestimientos decorativos de cemento.</span></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>