<t t-name="website.que-hemos-hecho">
  <t t-call="website.layout">
    <div id="wrap" class="oe_structure oe_empty">
      <section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
        <div class="container">
          <div class="row">
            <div class="col text-start o_colored_level pt112">
              <h2 class="cd-subtitle text-uppercase mb-5">Como lo hacemos</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="s_title pb40 o_colored_level pt0" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
        <div class="container s_allow_columns">
          <p>
            Firmas de renombre del sector de la moda, la restauración y el
            diseño, además de hoteles, centros comerciales, hospitales y
            particulares confían en Cement Design para revestir superficies y
            espacios de toda índole consiguiendo óptimos resultados a nivel
            estético y funcional. Con más de 290.000 metros cuadrados aplicados
            cada año, nuestra experiencia acumulada nos posiciona como marca
            líder en la fabricación y distribución de revestimientos de cemento
            para alta decoración.
          </p><p/>
        </div>
      </section>

      <section class="s_picture o_colored_level pt0 o_cc o_cc2 bg-white pb64" data-snippet="s_picture" data-name="Foto">
        <div class="container">
          <p style="text-align: center;"><br/></p>
          <div class="row s_nb_column_fixed">
            <div class="col-lg-10 offset-lg-1 o_colored_level pb0" style="text-align: center;">
              <figure class="figure">
                <img src="/web/image/27326-a1272524/que-hemos-hecho-1.webp" alt="" class="figure-img img-fluid img-thumbnail padding-large img o_we_custom_image" data-mimetype="image/webp" data-original-id="27324" data-original-src="/web/image/27324-0e0f022f/que-hemos-hecho-1.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="788"/>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="s_title pb40 o_colored_level pt56" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
        <div class="s_allow_columns container">
          <div class="o_text_columns">
            <div class="row">
              <div class="col-12 p-5" style="background-color: rgba(0,0,0,.1);">
                <div class="row">
                  <div class="col-12 text-start">
                    <h2 class="cd-subtitle text-uppercase mb-5">
                      Como lo hacemos
                    </h2>
                  </div>
                  <div class="col-12 col-md-6 o_colored_level">
                    <p style="margin-bottom: 0px;">
                      CEMENT DESIGN SURGE EN EL AÑO 2005, CON UN MODELO DE
                      NEGOCIO BASADO EN LA INNOVACIÓN, CREATIVIDAD Y RESPETO AL
                      MEDIO AMBIENTE.
                    </p><p><br/></p><p style="margin-bottom: 0px;">
                      En respuesta a las exigencias de la arquitectura
                      contemporánea, Cement Design crea y renueva ambientes
                      aportando elegancia y diseño. Es el perfecto aliado para
                      las empresas en su estrategia de marca al conseguir
                      espacios adaptados a cada identidad corporativa. Entre sus
                      clientes se incluyen firmas de prestigio del sector de la
                      moda, la restauración y el diseño como Zara, Sfera,
                      Stradivarius o El Corte Inglés; los restaurantes Filandón
                      y StreetXo (liderado por el chef Dabiz Muñoz); los hoteles
                      Ushuaïa Ibiza Beach Hotel , Cava &amp;amp; Hotel
                      Mastinell, CR7,
                    </p><p style="margin-bottom: 0px;"><br/></p><p style="margin-bottom: 0px;">
                      <br/>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 o_colored_level pt0 col-lg-6">
                    <p>
                      HN, ; las oficinas de Line (en Corea) y Job &amp;amp;
                      Talent, la Terminal de Cruceros de Oporto (Portugal) o el
                      Museo de la Selección de Fútbol de Brasil. Éstas y otras
                      empresas confían en Cement Design para revestir
                      superficies y espacios de toda índole consiguiendo
                      resultados increíbles a nivel estético y funcional.
                      Presente en más de 60 países y con sede central en Madrid,
                      cuenta con una amplia red de delegaciones nacionales e
                      internacionales que permiten dar respuesta a proyectos en
                      cualquier parte del mundo. 2005 Año de creación 1305
                      Proyectos.
                    </p><p/>
                  </div>
                  <div class="col-12 o_colored_level offset-lg-2 col-lg-8">
                    <img src="/web/image/27325-275f1ce7/que-hemos-hecho-2.png" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/png" data-original-id="27325" data-original-src="/web/image/27325-275f1ce7/que-hemos-hecho-2.png" data-mimetype-before-conversion="image/png" style="width: 100% !important;"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </t>
</t>