<t t-name="website.quienes-somos">
  <t t-call="website.layout">
    <div id="wrap" class="oe_structure oe_empty">
      <section class="s_title pt40 pb40 o_colored_level oe_img_bg o_bg_img_center" data-vcss="001"
        data-snippet="s_title" data-name="Título"
        style="background-image: url(&quot;/web/image/27203-8195824f/hero.webp&quot;);" data-mimetype="image/webp"
        data-original-id="27202" data-original-src="/web/image/27202-2a8c9120/hero.jpg"
        data-mimetype-before-conversion="image/jpeg" data-resize-width="1024">
        <div class="o_we_bg_filter bg-black-50" />
        <div class="s_allow_columns container">
          <h1 style="text-align: left;">
            <font class="text-o-color-4">QUIENES</font>
          </h1>
          <h1 style="text-align: left;">
            <strong>
              <font class="text-o-color-4">SOMOS</font>
            </strong>
          </h1>
          <p>
            <font class="text-o-color-4">Cement Design es una marca líder en la fabricación, distribución e instalación
              de revestimientos continuos de cemento decorativo. Con sede en España y presente en más de 60 países, su
              amplia red de delegaciones propias permite dar respuestas a proyectos de cualquier envergadura a escala
              mundial. Está respaldada por un equipo humano que garantiza la atención profesional a los clientes más
              exigentes: arquitectos, interioristas, constructores y amantes del diseño general.&amp;nbsp;</font>
          </p>
          <p />
        </div>
      </section>
      <section class="s_title pb40 o_colored_level pt64" data-vcss="001" data-snippet="s_title" data-name="Título"
        style="background-image: none;">
        <div class="s_allow_columns container">
          <h1 style="text-align: left;">Nuestro Equipo</h1>
          <p style="text-align: left;"><br /></p>
          <div class="o_text_columns">
            <div class="row">
              <div class="col-12 col-md-4 o_colored_level">
                <p style="text-align: left;">
                  <img src="/web/image/27207-9e9fcdf3/jorge.webp" alt="" class="img img-fluid o_we_custom_image"
                    data-mimetype="image/webp" data-original-id="27204"
                    data-original-src="/web/image/27204-086a9f41/jorge.jpg" data-mimetype-before-conversion="image/jpeg"
                    data-resize-width="500" style="overflow: hidden; height: 500px; width: 100%; object-fit: cover;"
                    loading="lazy" />
                </p>
                <h3>Jorge Hernández</h3>
                <p>
                  <font class="text-o-color-1">CEO &amp;amp; FOUNDER</font><br />
                  <font class="text-o-color-1">DIRECTOR DPTO. TÉCNICO</font>
                </p>
                <p>
                  <em>Alma mater de Cement Design, su incesante energía e infinita capacidad de innovación permiten
                    liderar con éxito este barco cuyo rumbo fija la profesionalidad&amp;nbsp;</em>&amp;nbsp;
                </p>
                <p><span class="fa fa-linkedin-square" />&amp;nbsp;<a
                    href="https://www.linkedin.com/company/cementdesignofficial/">@cementdesignofficial</a></p>
              </div>
              <div class="col-12 col-md-4 o_colored_level">
                <p><img src="/web/image/27206-135a7fcb/caro.webp" alt="" class="img img-fluid o_we_custom_image"
                    data-mimetype="image/webp" data-original-id="27205"
                    data-original-src="/web/image/27205-61a38658/caro.jpg" data-mimetype-before-conversion="image/jpeg"
                    data-resize-width="500" style="overflow: hidden; height: 500px; width: 100%; object-fit: cover;"
                    loading="lazy" /></p>
                <h3>Carolina Valencia</h3>
                <p>
                  <font class="text-o-color-1">CO-FOUNDER &amp;amp; CEO</font><br />
                  <font class="text-o-color-1">DIRECTORA COMERCIAL</font>
                </p>
                <p>
                  <em>La estrategia comercial de la compañía lleva su nombre gracias a un riguroso compromiso de
                    gestión, orientado desde la perspectiva global y empresarial.</em>
                </p>
                <p><span class="fa fa-linkedin-square" />&amp;nbsp;<a
                    href="https://www.linkedin.com/company/cementdesignofficial/posts/?feedView=all">@cementdesignofficial</a>
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level">
                <p><br /></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_title o_colored_level pt0 pb0" data-vcss="001" data-snippet="s_title" data-name="Título"
        style="background-image: none;">
        <div class="s_allow_columns container">
          <div class="o_text_columns">
            <div class="row">
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Adriana Arrieta</h3>
                <p>
                  <font class="text-o-color-1">Dpto. Sales</font>
                </p>
                <p>
                  <a data-bs-original-title="" title="" href="mailto:sales@cement-design.com">
                    <font class="text-o-color-5">sales@cement-design.com​</font>
                  </a>
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Susanna Girón</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">DPTO. RETAIL Y HOTELES</font>
                </p>
                <p><a href="mailto:cementdesign@cement-design.com">
                    <font class="text-o-color-5"><br />cementdesign@cement-design.com</font>
                  </a>
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Gina Montes</h3>
                <p>
                  <font class="text-o-color-1">Dpto. Sales</font>
                </p>
                <p>
                  <a data-bs-original-title="" title="" href="mailto:internacional@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      internacional@cement-design.com&amp;nbsp;
                    </font>
                  </a>
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Hismaldy Santos</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Marketing</font>
                </p>
                <p>
                  <a>assistantmanager@cement-design.com</a>
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb32">
                <h3>Patricia Talavera</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Nacional</font>
                </p>
                <p>nacional@cement-design.com&amp;nbsp;&amp;nbsp;</p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Silvia Gallego</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. INTERNACIONAl</font>
                </p>
                <p><a data-bs-original-title="" title="" href="mailto:exportassistant@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      <a>exportassistant@cement-design.com</a>
                    </font>
                  </a>&amp;nbsp;<br />
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Alberto Íñigo</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Técnico</font>
                </p>
                <p><a data-bs-original-title="" title="" href="mailto:alberto@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      <a>alberto@cement-design.com</a>
                    </font>
                  </a>&amp;nbsp;<br />
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Laura García</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">DELEGACIÓN MADRID</font>
                </p>
                <p><a href="mailto:madrid@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      madrid@cement-design.com&amp;nbsp;&amp;nbsp;
                    </font>
                  </a>&amp;nbsp;<br />
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Almudena Casado</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Administrativo</font>
                </p>
                <p><a data-bs-original-title="" title="" href="mailto:administracion@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      <a>administracion@cement-design.com</a>
                    </font>
                  </a>&amp;nbsp;<br />
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Luciano Sánchez</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Contabilidad</font>
                </p>
                <p><a data-bs-original-title="" title="" href="mailto:contabilidad@cement-design.com">
                    <font class="text-o-color-5" style="display: inline-block;">
                      <a>contabilidad@cement-design.com</a>
                    </font>
                  </a>&amp;nbsp;<br />
                </p>
              </div>
              <div class="col-12 col-md-4 o_colored_level pt0 pb48">
                <h3>Logística</h3>
                <p style="margin-bottom: 0px;">
                  <font class="text-o-color-1">Dpto. Logística</font>
                </p>
                <p>
                  <a>logistica@cement-design.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_title pb40 o_colored_level pt8" data-vcss="001" data-snippet="s_title" data-name="Título"
        style="background-image: none;">
        <div class="s_allow_columns container">
          <h3>Reconocimientos y distintivos</h3>
          <p><img src="/web/image/27208-7139ccf6/premios.png" alt="" class="img img-fluid o_we_custom_image"
              loading="lazy" /></p>
          <div data-oe-expression="//www.youtube.com/embed/TVtRvcurKbM?rel=0&amp;autoplay=0&amp;controls=0"
            class="media_iframe_video">
            <div class="css_editable_mode_display" />
            <div class="media_iframe_video_size" />
            <iframe frameborder="0" allowfullscreen="allowfullscreen"
              src="//www.youtube.com/embed/TVtRvcurKbM?rel=0&amp;autoplay=0&amp;controls=0" />
          </div>
        </div>
      </section>
      <section class="s_title o_colored_level oe_img_bg o_bg_img_center pb112 pt96" data-vcss="001"
        data-snippet="s_title" data-name="Título"
        style="background-image: url(&quot;/web/image/27203-8195824f/hero.webp&quot;);" data-mimetype="image/webp"
        data-original-id="27202" data-original-src="/web/image/27202-2a8c9120/hero.jpg"
        data-mimetype-before-conversion="image/jpeg" data-resize-width="1024">
        <div class="o_we_bg_filter bg-black-50" />
        <div class="s_allow_columns container">
          <h3 style="text-align: center;"><strong>
              <font class="text-o-color-4">Pídanos presupuesto sin compromiso</font>
            </strong></h3>
          <p style="text-align: center;"><em>
              <font class="text-o-color-4"><span class="h5-fs">En menos de 24 horas, le enviaremos la propuesta Cement
                  Design más ajustada a su proyecto.</span></font>
            </em></p>
          <p style="text-align: center;"><a href="/contactus"
              class="btn btn-fill-custom text-o-color-5 bg-o-color-4 rounded-circle btn-lg" data-bs-original-title=""
              title="" style="border-width: 1px; border-style: solid;"><strong>CONTACTAR</strong></a><br /></p>
          <p>
          </p>
        </div>
      </section>
    </div>
  </t>
</t>