<t t-name="website.quienes-somos">
  <t t-call="website.layout">
    <div id="wrap" class="oe_structure oe_empty">
      <section
        class="s_title pt40 pb40 o_colored_level oe_img_bg o_bg_img_center"
        data-vcss="001"
        data-snippet="s_title"
        data-name="Título"
        style='background-image: url("/web/image/27203-8195824f/hero.webp");'
        data-mimetype="image/webp"
        data-original-id="27202"
        data-original-src="/web/image/27202-2a8c9120/hero.jpg"
        data-mimetype-before-conversion="image/jpeg"
        data-resize-width="1024"
      >
        <div class="o_we_bg_filter bg-black-50"></div>
        <div class="s_allow_columns container">
          <h1 style="text-align: left;">
            <font class="text-o-color-4">QUIENES</font>
          </h1><h1 style="text-align: left;">
            <strong><font class="text-o-color-4">SOMOS</font></strong>
          </h1><p>
            <font class="text-o-color-4"
              >Cement Design es una marca líder en la fabricación, distribución
              e instalación de revestimientos continuos de cemento decorativo.
              Con sede en España y presente en más de 60 países, su amplia red
              de delegaciones propias permite dar respuestas a proyectos de
              cualquier envergadura a escala mundial. Está respaldada por un
              equipo humano que garantiza la atención profesional a los clientes
              más exigentes: arquitectos, interioristas, constructores y amantes
              del diseño general.&amp;nbsp;</font>
          </p><p></p>
        </div>
      </section><section
        class="s_title pt40 pb40 o_colored_level"
        data-vcss="001"
        data-snippet="s_title"
        data-name="Título"
        style="background-image: none;"
      >
        <div class="container s_allow_columns">
          <h1 style="text-align: left;">Nuestro Equipo</h1><div
            class="o_text_columns"
          >
            <div class="row">
              <div class="col-4 o_colored_level">
                <p style="text-align: left;">
                  <img
                    src="/web/image/27207-9e9fcdf3/jorge.webp"
                    alt=""
                    class="img img-fluid o_we_custom_image"
                    data-mimetype="image/webp"
                    data-original-id="27204"
                    data-original-src="/web/image/27204-086a9f41/jorge.jpg"
                    data-mimetype-before-conversion="image/jpeg"
                    data-resize-width="500"
                    style=" overflow: hidden;
                            height: 500px;
                            width: 100%;
                            object-fit: cover;" 

                  />
                </p>
              </div><div class="col-4 o_colored_level">
                <p>
                  <img
                    src="/web/image/27206-135a7fcb/caro.webp"
                    alt=""
                    class="img img-fluid o_we_custom_image"
                    data-mimetype="image/webp"
                    data-original-id="27205"
                    data-original-src="/web/image/27205-61a38658/caro.jpg"
                    data-mimetype-before-conversion="image/jpeg"
                    data-resize-width="500"
                    style=" overflow: hidden;
                            height: 500px;
                            width: 100%;
                            object-fit: cover;" 

                  />
                </p>
              </div><div class="col-4 o_colored_level"><p><br /></p></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </t>
</t>
