<section id="cd-about" class="cd cd-section cd-about o_colored_level" style="background-image: none;">
  <div class="container">
    <div class="row">
      <div class="col text-start my-5 o_colored_level pb40 pt32">
        <h2 class="cd-main-title display-5">Qué hacemos</h2>
        <div class="row">
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 96 120" x="0px" y="0px">
                  <path d="M78 36.040c-1.1 0-2-0.896-2-2 0-15.396-12.524-27.916-27.92-27.916s-27.92 12.528-27.92 27.916c0 1.104-0.896 2-2 2s-2-0.896-2-2c0-17.592 14.32-31.916 31.92-31.916s31.92 14.32 31.92 31.916c0 1.104-0.9 2-2 2z" fill="#ffffff"/>
                  <path d="M48.516 41.876c-14.816 0-26.308-1.888-31.524-5.176-0.932-0.584-1.216-1.824-0.624-2.752 0.588-0.928 1.824-1.228 2.756-0.624 1.696 1.072 8.832 4.56 29.392 4.56 19.528 0 26.344-3.164 28.368-4.528 0.916-0.604 2.156-0.38 2.776 0.552 0.612 0.916 0.372 2.152-0.544 2.768-4.992 3.352-15.86 5.2-30.6 5.2z" fill="#ffffff"/>
                  <path d="M48.484 93.876c-19.88 0-28.272-3.228-31.504-5.148-0.608-0.36-0.98-1.012-0.98-1.72l0.056-55.152c0.004-0.68 0.356-1.308 0.932-1.672 5.212-3.288 16.704-5.176 31.528-5.176 14.756 0 25.624 1.852 30.6 5.212 0.552 0.376 0.884 0.992 0.884 1.656v55.132c0 0.708-0.372 1.36-0.98 1.72-5.756 3.416-16.024 5.148-30.536 5.148zM20 85.812c3.164 1.532 11.040 4.064 28.484 4.064 15.728 0 23.592-2.084 27.516-4.056v-52.812c-2.84-1.512-10.152-4-27.484-4-17.964 0-25.676 2.66-28.472 4.048l-0.044 4.956v47.8z" fill="#ffffff"/>
                  <path d="M48.516 77.876c-7.108 0-13.44-0.424-18.828-1.276-0.972-0.164-1.688-1-1.688-1.984v-24c0-0.584 0.256-1.14 0.7-1.52 0.444-0.388 1.036-0.544 1.612-0.456 5.18 0.82 11.304 1.24 18.204 1.24 4.816 0 9.16-0.208 13.28-0.624 0.568-0.076 1.124 0.116 1.544 0.504 0.416 0.376 0.66 0.912 0.66 1.484v24c0 1.024-0.772 1.884-1.796 1.98-4.26 0.436-8.736 0.652-13.688 0.652zM32 72.888c4.808 0.656 10.352 0.988 16.516 0.988 4.12 0 7.9-0.152 11.484-0.46v-19.98c-3.592 0.292-7.384 0.44-11.484 0.44-6.112 0-11.656-0.32-16.516-0.944v19.956z" fill="#ffffff"/>
                </svg>
              </div>
              <h5 class="text-uppercase">Revestimos espacios</h5>
              <p style="margin-bottom: 0px;">
                Cement Design es la perfecta segunda piel para todo tipo
                de espacios, desde hoteles a restaurantes, pasando por
                viviendas particulares, piscinas y grandes
                infraestructuras.
              </p>
            </div>
          </div>
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewbox="0 0 104 120" enable-background="new 0 0 104 96">
                  <path fill="#ffffff" d="M52,20C23.328,20,0,43.328,0,72c0,2.212,1.792,4,4,4s4-1.788,4-4c0-24.256,19.74-44,44-44c24.256,0,44,19.744,44,44  c0,2.212,1.792,4,4,4s4-1.788,4-4C104,43.328,80.672,20,52,20z"/>
                  <path fill="#ffffff" d="M52,32c-22.056,0-40,17.943-40,40c0,2.212,1.792,4,4,4s4-1.788,4-4c0-17.645,14.356-32,32-32c17.645,0,32,14.355,32,32  c0,2.212,1.792,4,4,4s4-1.788,4-4C92,49.943,74.057,32,52,32z"/>
                  <path fill="#ffffff" d="M52,44c-15.44,0-28,12.564-28,28c0,2.212,1.792,4,4,4s4-1.788,4-4c0-11.027,8.972-20,20-20c11.027,0,20,8.973,20,20  c0,2.212,1.792,4,4,4s4-1.788,4-4C80,56.564,67.436,44,52,44z"/>
                </svg>
              </div>
              <h5 class="text-uppercase">MATERIALES ECOLÓGICOS</h5><p style="margin-bottom: 0px;">
                El cuidado del medio ambiente es uno de nuestros valores.
                Fabricamos productos sostenibles haciendo un uso eficaz y
                responsable de los recursos.
              </p>
            </div>
          </div>
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 120" x="0px" y="0px">
                  <path d="M36 82c-0.44 0-0.884-0.148-1.252-0.436l-10-8c-0.86-0.696-1-1.944-0.312-2.82 0.688-0.86 1.948-1 2.812-0.304l8.752 7 8.752-7c0.864-0.688 2.12-0.548 2.812 0.312 0.688 0.868 0.548 2.12-0.312 2.812l-10 8c-0.368 0.288-0.812 0.436-1.252 0.436z" fill="#ffffff"/>
                  <path d="M36 82c-1.104 0-2-0.892-2-2v-76c0-1.108 0.896-2 2-2s2 0.892 2 2v76c0 1.108-0.896 2-2 2z" fill="#ffffff"/>
                  <path d="M64 82c-0.436 0-0.884-0.148-1.252-0.436l-10-8c-0.86-0.696-1-1.944-0.312-2.82 0.688-0.86 1.944-1 2.812-0.304l8.752 7 8.752-7c0.876-0.688 2.12-0.548 2.812 0.312 0.688 0.868 0.548 2.12-0.312 2.812l-10 8c-0.368 0.288-0.816 0.436-1.252 0.436z" fill="#ffffff"/>
                  <path d="M64 82c-1.1 0-2-0.892-2-2v-76c0-1.108 0.9-2 2-2s2 0.892 2 2v76c0 1.108-0.9 2-2 2z" fill="#ffffff"/>
                  <path d="M16 94c-1.104 0-2-0.892-2-2v-48h-12c-1.104 0-2-0.896-2-2s0.896-2 2-2h14c1.104 0 2 0.896 2 2v50c0 1.108-0.896 2-2 2z" fill="#ffffff"/>
                  <path d="M84 94c-1.1 0-2-0.892-2-2v-50c0-1.104 0.9-2 2-2h14c1.1 0 2 0.896 2 2s-0.9 2-2 2h-12v48c0 1.108-0.9 2-2 2z" fill="#ffffff"/>
                </svg>
              </div>
              <h5 class="text-uppercase">MÍNIMO ESPESOR SIN JUNTAS</h5><p style="margin-bottom: 0px;">
                Creamos revestimientos decorativos continuos, superficies
                sin juntas ni límites de extensión, de entre 1 mm y 8 mm,
                con materiales versátiles que adoptan el perfil deseado.
              </p>
            </div>
          </div>
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 96 120" x="0px" y="0px">
                  <path d="M37.472 23c17.668 0 32 14.328 32 32s-14.328 32-32 32c-17.672 0-32-14.328-32-32s14.328-32 32-32zM37.472 19c-19.848 0-36 16.148-36 36s16.152 36 36 36c19.848 0 36-16.148 36-36s-16.152-36-36-36v0z" fill="#ffffff"/>
                  <path d="M85.468 57c-1.1 0-2-0.9-2-2 0-25.364-20.632-46-46-46-1.104 0-2-0.9-2-2s0.896-2 2-2c27.572 0 50 22.428 50 50 0 1.1-0.896 2-2 2z" fill="#ffffff"/>
                  <path d="M85.468 58c-0.608 0-1.18-0.272-1.572-0.752l-10.368-13c-0.696-0.868-0.556-2.12 0.312-2.812 0.86-0.68 2.124-0.552 2.804 0.32l8.368 10.484 5.704-12.148c0.476-1.008 1.664-1.432 2.656-0.968 1 0.476 1.428 1.664 0.96 2.664l-7.064 15.064c-0.296 0.628-0.9 1.064-1.584 1.136-0.060 0.008-0.136 0.012-0.216 0.012z" fill="#ffffff"/>
                  <path d="M37.472 57c-0.512 0-1.024-0.196-1.416-0.584-0.78-0.772-0.78-2.048 0-2.828l16-16c0.78-0.772 2.048-0.772 2.828 0 0.78 0.78 0.78 2.056 0 2.828l-16 16c-0.388 0.388-0.9 0.584-1.412 0.584z" fill="#ffffff"/>
                  <path d="M37.472 57c-0.512 0-1.024-0.196-1.416-0.584l-12-12c-0.78-0.772-0.78-2.048 0-2.828 0.78-0.772 2.048-0.772 2.828 0l12 12c0.78 0.78 0.78 2.056 0 2.828-0.388 0.388-0.9 0.584-1.412 0.584z" fill="#ffffff"/>
                </svg>
              </div>
              <h5 class="text-uppercase">OBRA LÍMPIA Y RÁPIDA</h5><p style="margin-bottom: 0px;">
                Cement Design es aplicable sobre cualquier soporte, sin
                necesidad de retirar el material existente. No genera
                escombros, tratándose de una obra limpia.
              </p>
            </div>
          </div>
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 96 120" x="0px" y="0px">
                  <path d="M49.684 41.896c-0.56 0-1.040-0.2-1.44-0.56-0.36-0.36-0.6-0.888-0.6-1.408 0-0.564 0.24-1.080 0.6-1.436 0.72-0.724 2.12-0.756 2.84 0.040 0.36 0.36 0.596 0.844 0.596 1.404 0 0.52-0.248 1.044-0.596 1.404-0.356 0.356-0.88 0.556-1.4 0.556z" fill="#ffffff"/>
                  <path d="M37.168 55.18c-0.52 0-1.040-0.256-1.4-0.608-0.4-0.36-0.6-0.876-0.6-1.4 0-0.572 0.2-1.084 0.6-1.436 0.72-0.72 2.080-0.72 2.8 0 0.4 0.4 0.6 0.92 0.6 1.436s-0.2 1.040-0.6 1.4c-0.364 0.356-0.884 0.608-1.4 0.608z" fill="#ffffff"/>
                  <path d="M41.408 67.172c-0.52 0-1.040-0.244-1.4-0.6-0.4-0.4-0.6-0.884-0.6-1.4 0-0.524 0.2-1.040 0.6-1.408 0.76-0.752 2.080-0.752 2.84-0.040 0.36 0.4 0.56 0.92 0.56 1.436 0 0.484-0.2 1-0.56 1.4-0.404 0.368-0.924 0.612-1.44 0.612z" fill="#ffffff"/>
                  <path d="M58.164 67.892c-0.516 0-1.040-0.196-1.4-0.564-0.404-0.4-0.6-0.916-0.6-1.4 0-0.556 0.204-1.040 0.564-1.436 0.796-0.756 2.116-0.728 2.844 0 0.404 0.408 0.592 0.916 0.592 1.436 0 0.476-0.196 1-0.564 1.368-0.396 0.392-0.912 0.596-1.436 0.596z" fill="#ffffff"/>
                  <path d="M60.92 54.656c-0.516 0-1.040-0.196-1.436-0.572-0.36-0.4-0.564-0.916-0.564-1.428s0.204-1.048 0.596-1.408c0.68-0.728 2.084-0.756 2.844 0 0.32 0.36 0.56 0.884 0.56 1.408s-0.196 1.040-0.592 1.408c-0.36 0.38-0.884 0.592-1.408 0.592z" fill="#ffffff"/>
                  <path d="M49.604 59.564c-3.344 0-6.068-2.72-6.068-6.064s2.72-6.076 6.068-6.076c3.34 0 6.068 2.732 6.068 6.076s-2.728 6.064-6.068 6.064zM49.604 51.428c-1.14 0-2.068 0.92-2.068 2.072s0.928 2.064 2.068 2.064 2.068-0.916 2.068-2.064c0-1.14-0.92-2.072-2.068-2.072z" fill="#ffffff"/>
                  <path d="M75.476 95.992c-1.584 0-3.384-0.884-5.5-2.696l-14.36-12.288c-4-3.428-11.388-3.572-15.488-0.288l-13.924 11.156c-3.756 3.008-6.868 3.18-8.444 1.016-1.156-1.584-1.16-4.196-0.012-7.752l4.644-14.42c1.824-5.656-0.46-13.032-4.984-16.1l-13.008-8.94c-4.36-2.948-4.712-5.424-4.24-6.972 0.46-1.5 2.044-3.28 6.976-3.28h17.384c5.268 0 11.096-4.788 12.732-10.468l5.372-18.556c1.224-4.252 3.032-6.4 5.38-6.4 2.344 0 4.16 2.148 5.38 6.404l5.376 18.552c1.632 5.672 7.46 10.468 12.728 10.468h17.392c4.936 0 6.516 1.768 6.968 3.264 0.468 1.54 0.108 3.992-4.272 6.928l-12.932 8.708c-4.56 3.064-6.928 10.452-5.192 16.164l5.008 16.408c1.092 3.6 1.076 6.108-0.088 7.68-0.684 0.912-1.708 1.412-2.896 1.412zM75.476 91.992v0zM47.664 74.236c4 0 7.752 1.328 10.564 3.736l14.352 12.288c1.412 1.212 2.252 1.584 2.64 1.688 0.084-0.46 0.116-1.592-0.584-3.892l-5-16.4c-2.252-7.368 0.784-16.632 6.768-20.648l12.936-8.72c2.048-1.38 2.532-2.252 2.64-2.52-0.1 0.028-0.976-0.364-3.092-0.364h-17.392c-7.14 0-14.416-5.868-16.58-13.356l-5.368-18.548c-0.704-2.448-1.4-3.252-1.64-3.476-0.036 0.22-0.732 1.016-1.436 3.468l-5.372 18.556c-2.152 7.492-9.432 13.36-16.572 13.36h-17.384c-2.2 0-2.984 0.416-3.172 0.564 0.14 0.068 0.576 0.968 2.688 2.404l13.012 8.932c5.964 4.056 8.9 13.304 6.536 20.632l-4.644 14.42c-0.924 2.868-0.648 3.936-0.572 4.14 0.008-0.148 0.904-0.304 2.72-1.756l13.924-11.148c2.7-2.168 6.264-3.36 10.028-3.36z" fill="#ffffff"/>
                </svg>
              </div>
              <h5 class="text-uppercase">PERFIL CUSTOMIZABLE</h5><p style="margin-bottom: 0px;">
                Con una gama de más de 1.500 colores y un amplio abanico
                de innovadoras texturas, son revestimientos que se adaptan
                a todos los estilos decorativos.
              </p>
            </div>
          </div>
          <div class="col-auto col-md-4 o_colored_level pt40">
            <div class="cd-card">
              <div class="cd-card__img">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 96 120" x="0px" y="0px">
                  <path d="M60 96h-52c-1.104 0-2-0.9-2-2v-64c0-1.1 0.896-2 2-2h52c1.1 0 2 0.9 2 2v64c0 1.1-0.9 2-2 2zM10 92h48v-60h-48v60z" fill="#ffffff"/>
                  <path d="M86 68h-4c-1.1 0-2-0.9-2-2s0.9-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2zM74 68h-4c-1.1 0-2-0.9-2-2s0.9-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2zM88 62c-1.1 0-2-0.9-2-2v-4c0-1.1 0.9-2 2-2s2 0.9 2 2v4c0 1.1-0.9 2-2 2zM88 50c-1.1 0-2-0.9-2-2v-4c0-1.1 0.9-2 2-2s2 0.9 2 2v4c0 1.1-0.9 2-2 2zM88 38c-1.1 0-2-0.9-2-2v-4c0-1.1 0.9-2 2-2s2 0.9 2 2v4c0 1.1-0.9 2-2 2zM36 30c-1.104 0-2-0.9-2-2v-4c0-1.1 0.896-2 2-2s2 0.9 2 2v4c0 1.1-0.896 2-2 2zM88 26c-1.1 0-2-0.9-2-2v-4c0-1.1 0.9-2 2-2s2 0.9 2 2v4c0 1.1-0.9 2-2 2zM36 18c-1.104 0-2-0.9-2-2v-4c0-1.1 0.896-2 2-2s2 0.9 2 2v4c0 1.1-0.896 2-2 2zM88 14c-1.1 0-2-0.9-2-2v-4c0-1.1 0.9-2 2-2s2 0.9 2 2v4c0 1.1-0.9 2-2 2zM36 6c-1.104 0-2-0.9-2-2v-2c0-1.1 0.896-2 2-2h2c1.104 0 2 0.9 2 2s-0.896 2-2 2c0 1.1-0.896 2-2 2zM86 4h-4c-1.1 0-2-0.9-2-2s0.9-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2zM74 4h-4c-1.1 0-2-0.9-2-2s0.9-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2zM62 4h-4c-1.1 0-2-0.9-2-2s0.9-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2zM50 4h-4c-1.104 0-2-0.9-2-2s0.896-2 2-2h4c1.1 0 2 0.9 2 2s-0.9 2-2 2z" fill="#ffffff"/>
                </svg>
              </div>
              <h5 class="text-uppercase">CUALQUIER SOPORTE</h5><p style="margin-bottom: 0px;">
                Materiales adheribles a cualquier soporte, ya sea
                cerámica, madera, mosaico, yeso, etc., siendo aplicables
                en paredes, suelos, techos o mobiliario, de interior o
                exterior.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
  <div class="container">
    <div class="row">
      <div class="col text-start o_colored_level pt56 pb40">
        <h2 class="cd-main-title">como lo hacemos</h2>
        <br/>
      </div>
    </div>
  </div>
</section>

<section class="s_title o_colored_level pt0 pb32" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
  <div class="s_allow_columns container">
    <div class="row o_grid_mode" data-row-count="10" style="column-gap: 58px;">
      <div class="o_grid_item g-col-lg-12 o_colored_level g-height-10 col-lg-12" style="z-index: 1; grid-area: 1 / 1 / 11 / 13;">
        <div class="o_text_columns">
          <div class="row" style="column-gap: 58px;"/>
        </div>
      </div><div class="hover-card o_colored_level border rounded g-col-lg-5 g-height-10 col-lg-5 o_grid_item" style="border-radius: 5px !important; z-index: 3; grid-area: 1 / 7 / 11 / 12;">
        <p>
          <img src="/web/image/27025-3ac45177/pintor.png" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/png" data-original-id="27025" data-original-src="/web/image/27025-3ac45177/pintor.png" data-mimetype-before-conversion="image/png" loading="lazy"/>
        </p><p style="margin-bottom: 0px; text-align: center;">
          <strong><font class="text-o-color-1">MATERIAL + INSTALADOR</font></strong>
        </p><p style="margin-bottom: 0px; text-align: center;">
          Adquiere el material que necesites y nosotros te recomendamos un
          aplicador formado por Cement Design con todas las garantías de
          una instalación profesional.&amp;nbsp;
        </p><p style="margin-bottom: 0px; text-align: center;">
          <br/>
        </p><p style="margin-bottom: 0px; text-align: center;">
          <a href="/como-lo-hacemos">LEER MÁS</a><br/>
        </p>
      </div><div class="hover-card o_colored_level border rounded g-col-lg-5 g-height-10 col-lg-5 o_grid_item" style="border-radius: 5px !important; z-index: 2; grid-area: 1 / 2 / 11 / 7;">
        <p>
          <img src="/web/image/27024-92bb525d/cubo-de-pintura.png" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/png" data-original-id="27024" data-original-src="/web/image/27024-92bb525d/cubo-de-pintura.png" data-mimetype-before-conversion="image/png" loading="lazy"/>
        </p><p style="text-align: center;">
          <strong><font class="text-o-color-1">HAZLO TÚ MISMO/A</font></strong>
        </p><p style="text-align: center;">
          Adquiere los materiales Cement Design que necesites para
          aplicarlos tú mismo, o tu instalador de confianza. También
          facilitamos cursos de Formación de nuestros productos.
        </p><p style="text-align: center;">
          <a href="/como-lo-hacemos" data-bs-original-title="" title="">LEER MÁS</a><br/>
        </p>
      </div>
    </div>
  </div>
</section><section class="s_title pb40 o_colored_level pt0" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
  <div class="s_allow_columns container">
    <div class="row o_grid_mode" data-row-count="16">
      <div class="o_grid_item g-col-lg-12 g-height-16 col-lg-12 o_colored_level" style="grid-area: 1 / 1 / 17 / 13; z-index: 1;">
        <p>
          <img src="/web/image/27027-ed4ab1ca/revestimiento-negro.png" alt="" class="img img-fluid o_we_custom_image" data-mimetype="image/png" data-original-id="27026" data-original-src="/web/image/27026-ed4ab1ca/revestimiento-negro.png" data-mimetype-before-conversion="image/png" data-resize-width="1920" loading="lazy"/><br/>
        </p>
      </div>
    </div>
  </div>
</section>

<section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
  <div class="container">
    <div class="row">
      <div class="col text-start o_colored_level pb48 pt0">
        <h1>QUÉ HEMOS HECHO</h1>
        <br/>
      </div>
    </div>
  </div>
</section>

<section class="s_title pt40 pb40 o_colored_level" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
  <div class="container s_allow_columns">
    <p>
      <span class="h5-fs">Las aplicaciones Cement Design superan los 3 millones de metros
        cuadrados de superficie en paramentos verticales y horizontales,
        de zonas de interior y exterior. Nos avala una dilatada
        experiencia y una extensa red comercial integrada por delegaciones
        internacionales, puntos de venta y córners en más de 60 países.</span>
    </p><p/>
  </div>
</section>

<section class="s_numbers o_colored_level o_cc o_cc1 pb88 pt40" data-snippet="s_numbers" data-name="Número" style="background-image: none;">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center pt24 pb24 o_colored_level o_anim_fade_in o_animate o_visible" style="">
        <h1>
          <span class="s_number display-4"><span style="font-weight: bolder;">2005</span></span>
        </h1><h6 class="o_default_snippet_text">Año de creación</h6>
      </div>
      <div class="col-lg-3 text-center pt24 pb24 o_colored_level o_anim_fade_in o_animate o_visible" style="">
        <span class="s_number display-4"><span style="font-weight: bolder;">49.000</span></span>
        <h6 class="o_default_snippet_text">Proyectos completados</h6>
      </div>
      <div class="col-lg-3 text-center pt24 pb24 o_colored_level o_anim_fade_in o_animate o_visible" style="">
        <span class="s_number display-4"><span style="font-weight: bolder;">60+</span></span>
        <h6 class="o_default_snippet_text">Paises</h6>
      </div>
      <div class="col-lg-3 text-center pt24 pb24 o_colored_level o_anim_fade_in o_animate o_visible" style="animation-duration: 0.3s;">
        <span class="s_number display-4"><span style="font-weight: bolder;">37</span></span>
        <h6 class="o_default_snippet_text">Imágenes sobresalientes</h6>
      </div>
    </div>
  </div>
</section>

<section class="s_title o_colored_level pt72 oe_img_bg o_bg_img_center pb64" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: url(&quot;/web/image/27154-696ec471/emicode-bg.webp&quot;);" data-mimetype="image/webp" data-original-id="27153" data-original-src="/web/image/27153-67db721a/emicode-bg.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="1024">
  <div class="s_allow_columns container">
    <section id="cd-title-h1" class="cd cd-title o_colored_level" style="background-image: none;">
      <div class="container-fluid">
        <div class="row">
          <div class="col text-start o_colored_level pb40">
            <h1>ECO-FRIENDLY</h1>
            <br/>
          </div>
        </div>
      </div>
    </section>
    <p>
      A partir de una formulación en base acuosa, los productos Cement
      Design son fruto de una cuidadosa selección de materias primas, en
      su mayoría de origen reciclado. Su aplicación es artesanal por lo
      que no genera escombros y su mantenimiento fomenta este mismo valor
      ya que solo precisa agua y jabón de pH neutro. Esta política
      sostenible se traduce en varios certificados como EMICODE,
      distintivo que garantiza una muy baja emisión de compuestos
      volátiles orgánicos en los materiales de construcción.
    </p><p>
      <img src="/web/image/27152-06585da8/emicode.jpeg" alt="" class="img img-fluid o_we_custom_image ms-auto float-end" data-mimetype="image/jpeg" data-original-id="27152" data-original-src="/web/image/27152-06585da8/emicode.jpeg" data-mimetype-before-conversion="image/jpeg" loading="lazy"/>
    </p>
  </div>
</section>
<section class="s_title o_colored_level oe_img_bg o_bg_img_center pb112 pt120" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: url(&quot;/web/image/27160-0767149f/contactus-home.webp&quot;);" data-mimetype="image/webp" data-original-id="27155" data-original-src="/web/image/27155-8184be04/contactus-home.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="1024">
  <div class="o_we_bg_filter bg-black-50"/>
  <div class="s_allow_columns container">
    <h4 style="text-align: center;">
      <strong><font class="text-o-color-4"><span class="h3-fs">Pídenos presupuesto sin compromiso</span></font></strong>
    </h4><p style="text-align: center;">
      <em><font class="text-o-color-4">En menos de 24 horas, te enviaremos la propuesta Cement Design
          más ajustada a tu proyecto.</font></em>
    </p><p style="text-align: center;">
      <a href="/contactus" class="btn btn-fill-custom text-900 bg-white rounded-circle btn-lg" data-bs-original-title="" title="" style="border-width: 1px; border-style: solid;"><strong><span class="o_small-fs">CONT​​​​ACTA​​​​​​R</span></strong></a><br/>
    </p>
  </div>
</section><section class="s_title pt40 pb40 o_colored_level" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
  <div class="container s_allow_columns">
    <p>
      <img src="/web/image/27156-28dc7d6b/footer-home.jpg" alt="" class="img img-fluid o_we_custom_image mx-auto d-block" data-mimetype="image/jpeg" data-original-id="27156" data-original-src="/web/image/27156-28dc7d6b/footer-home.jpg" data-mimetype-before-conversion="image/jpeg" loading="lazy"/>
    </p>
  </div>
</section>