<section class="s_title o_colored_level pt96 pb48" data-vcss="001" data-snippet="s_title" data-name="Título" style="background-image: none;">
  <div class="s_allow_columns container">
    <div class="row">
      <h2 class="cd-main-title display-5 mb-5">ORIGEN</h2>
      <p>
        <span class="h5-fs" style="     text-transform: initial; ">Cement design surge en el año 2005 con un modelo de negocio
          basado en la innovación, la creatividad y el respeto al medio
          ambiente.</span><br/>
      </p>
      <p>
        En sus inicios, la compañía se dedicó a la construcción y a las
        reformas de alto standing. Con el paso del tiempo y gracias a su
        apuesta por la innovación y valores sostenibles, Cement Design es
        referencia mundial en revestimientos decorativos.
      </p>
      <p/>
    </div>
    <div class="row">
      <div class="o_colored_level offset-lg-1 col-lg-10">
        <img src="/web/image/25080-01483250/alarg.webp" alt="" class="img img-fluid o_we_custom_image mx-auto d-block" data-mimetype="image/webp" data-original-id="1059" data-original-src="/web/image/1059-e0bec43d/alarg.jpg" data-mimetype-before-conversion="image/jpeg" data-resize-width="1290" loading="lazy" style="width: 100% !important;"/>
        <p class="o_default_snippet_text"><br/></p>
      </div>
    </div>
  </div>
</section>