.cd-main-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333;
  position: relative;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0;

  &::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 1px;
    background-color: #000000;
    bottom: -10px;
    left: 0;
  }
}